@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .label {
        @apply block mb-1 text-gray-500 font-medium dark:text-gray-300
    }

    .input {
        @apply block w-full p-2 rounded-md shadow-sm border-gray-300 text-gray-500 dark:border-gray-600
    }

    .input-error{
        @apply text-sm text-red-500 dark:text-red-400
    }

    .btn-normal {
        @apply bg-gray-600 hover:bg-gray-500 text-white font-medium p-2 rounded-md
    }

    .btn-primary {
        @apply bg-indigo-600 hover:bg-indigo-500 text-white font-medium p-2 rounded-md
    }

    .btn-outline {
        @apply p-2 rounded-md border shadow-sm border-gray-300 dark:border-gray-800 hover:border-gray-400 hover:bg-gray-50 dark:hover:border-gray-700 dark:hover:bg-gray-800
    }

    .input-filter-l {
        @apply placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-gray-200 dark:border-gray-700 rounded-l-md rounded-r-none text-sm font-medium text-gray-600 dark:text-gray-400 dark:bg-gray-800
    }

    .input-filter-r {
        @apply placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-gray-200 dark:border-gray-700 rounded-r-md rounded-l-none text-sm font-medium text-gray-600 dark:text-gray-400 dark:bg-gray-800
    }


    input, select {
        @apply text-gray-600 dark:text-gray-800
    }


}




/* Theme Switch */
/* The switch - the box around the slider */
.theme_switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2.2em;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Hide default HTML checkbox */
  .theme_switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a2a2a;
    transition: 0.4s;
    border-radius: 30px;
    overflow: hidden;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 20px;
    left: 0.5em;
    bottom: 0.5em;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
    box-shadow: inset 8px -4px 0px 0px #fff;
  }

  .theme_switch input:checked + .slider {
    background-color: #00a6ff;
  }

  .theme_switch input:checked + .slider:before {
    transform: translateX(1.8em);
    box-shadow: inset 15px -4px 0px 15px #ffcf48;
  }

  .star {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    width: 5px;
    transition: all 0.4s;
    height: 5px;
  }

  .star_1 {
    left: 2.5em;
    top: 0.5em;
  }

  .star_2 {
    left: 2.2em;
    top: 1.2em;
  }

  .star_3 {
    left: 3em;
    top: 0.9em;
  }

  .theme_switch input:checked ~ .slider .star {
    opacity: 0;
  }

  .cloud {
    width: 3.5em;
    position: absolute;
    bottom: -1.4em;
    left: -1.1em;
    opacity: 0;
    transition: all 0.4s;
  }

  .theme_switch input:checked ~ .slider .cloud {
    opacity: 1;
  }
